:root {
  --cursive-font: "Sacramento", sans-serif;
  --shadow-color: rgba(0, 10, 20, 0.2);
}

* {
  padding: 0px;
  margin: 0px;
}

.App{
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/christina-deravedisian.jpg);
  background-size: 50%;
}
.buttonBox {
  width: fit-content;
  margin: 0 auto;
}
.nxtBtn {
  cursor: pointer;
  font-family: var(--cursive-font);
}
