button{
    font-weight:900;
    cursor: pointer;
    border:none;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    width: 5vw;
    font-size: 2.2vh;
}
.nextBtn{
    width: fit-content;
}
.buttons{
    columns: 160px 2;
    width: fit-content;
}
.buttons, .nextBtn{
    padding: 20px;
    height:80px;
    margin: 0px auto;
}
button.true, button.false, button.next{
    width: 150px;
}
button.next{
    box-sizing: border-box;
    padding: 10px;
}
