.container{
    height:400px;
    width: 400px;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 227, 175);
    box-shadow: 1px 2px 3px 2px grey;
}
.container h1{
    text-align: center;
}