:root{--lightBrown: rgb(160, 140, 114)};

* {
  padding: 0;
  margin: 0;
}
.LandingPage {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/francesco-ungaro.jpg);
  background-size:100%;
}
.grid-container {
  padding-top: 10vh;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
}
.grid-item {
  border: 2px solid rgba(128, 128, 128, 0.5);
  padding: 2px 4px;
  text-align: center;
}
