:root{--lightBrown: rgb(160, 140, 114)};

* {
  padding: 0;
  margin: 0;
}
.LandingPage {
  width: 100vw;
  height: 100vh;
  background-color:rgb(13, 12, 12);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
}
.grid-item {
  padding: 2px 4px;
  text-align: center;
}
